
body.gwapi-notification-ui {}
body.gwapi-notification-ui .autocomplete {
    position: relative;
}

.select2-container .select2-selection--multiple  {
    margin: 5px 0;
}

#notification_meta_triggers .select2-container .select2-selection--single  {
    margin: 5px 0;
    padding: 5px;
    height: 40px;
}

#notification_meta_triggers .select2-container .select2-selection--single .select2-selection__arrow  {
    height: 46px;
}



#notification_meta_triggers .select2-container  .select2-search__field {
    font-size: 14px;
    padding: 2px 4px;
}

#notification_meta_triggers .select2-container  li.select2-search--inline {
    margin-bottom: 0;
}

.suggestions {
    position: absolute;
    top: 52px;
    width: 100%;
    max-width: 350px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    overflow: auto;
    max-height: 200px;
    z-index: 10;
}
.suggestions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.suggestions .item {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    margin: 0;
    border-top: 1px solid #dcdcdc;
}

.suggestions .item:first-child {
    border-top: none;
}

.suggestions .item:hover {
    cursor: pointer;
    background-color: lightblue;
}
.suggestions .item.focus {
    background-color: lightblue;
}


.notification-field.fields-repeater {
    width: 100%;
    margin-bottom: 10px;
    border: 0;
    border-collapse: collapse;
    table-layout: fixed
}

.notification-field.fields-repeater tr.model {
    display: none
}

.notification-field.fields-repeater tr td:not(.nested-section-repeater),.notification-field.fields-repeater tr th {
    width: auto;
    padding: 12px;
    background-color: #fff;
    border: 1px solid #e5e5e5
}

.notification-field.fields-repeater tr td:not(.nested-section-repeater).handle,.notification-field.fields-repeater tr td:not(.nested-section-repeater).sub-handle,.notification-field.fields-repeater tr td:not(.nested-section-repeater).trash,.notification-field.fields-repeater tr th.handle,.notification-field.fields-repeater tr th.sub-handle,.notification-field.fields-repeater tr th.trash {
    background: #f5f5f5;
    white-space: nowrap;
    width: 40px;
    text-align: center;
    padding: 0;
    color: #a5a5a5
}

@media (max-width: 782px) {
    .notification-field.fields-repeater tr td:not(.nested-section-repeater).handle,.notification-field.fields-repeater tr td:not(.nested-section-repeater).sub-handle,.notification-field.fields-repeater tr td:not(.nested-section-repeater).trash,.notification-field.fields-repeater tr th.handle,.notification-field.fields-repeater tr th.sub-handle,.notification-field.fields-repeater tr th.trash {
        width:calc(100% - 22px);
        height: 30px;
        line-height: 30px;
        padding: 0 10px
    }
}

.notification-field.fields-repeater tr td:not(.nested-section-repeater).handle,.notification-field.fields-repeater tr td:not(.nested-section-repeater).sub-handle,.notification-field.fields-repeater tr th.handle,.notification-field.fields-repeater tr th.sub-handle {
    position: relative
}

.notification-field.fields-repeater tr td:not(.nested-section-repeater).handle::after,.notification-field.fields-repeater tr td:not(.nested-section-repeater).sub-handle::after,.notification-field.fields-repeater tr th.handle::after,.notification-field.fields-repeater tr th.sub-handle::after {
    display: none;
    content: "\f545";
    font: 400 20px/1 dashicons, sans-serif;
    line-height: 30px
}

@media (max-width: 782px) {
    .notification-field.fields-repeater tr td:not(.nested-section-repeater).handle,.notification-field.fields-repeater tr td:not(.nested-section-repeater).sub-handle,.notification-field.fields-repeater tr th.handle,.notification-field.fields-repeater tr th.sub-handle {
        position:relative
    }

    .notification-field.fields-repeater tr td:not(.nested-section-repeater).handle::before,.notification-field.fields-repeater tr td:not(.nested-section-repeater).handle::after,.notification-field.fields-repeater tr td:not(.nested-section-repeater).sub-handle::before,.notification-field.fields-repeater tr td:not(.nested-section-repeater).sub-handle::after,.notification-field.fields-repeater tr th.handle::before,.notification-field.fields-repeater tr th.handle::after,.notification-field.fields-repeater tr th.sub-handle::before,.notification-field.fields-repeater tr th.sub-handle::after {
        position: absolute
    }

    .notification-field.fields-repeater tr td:not(.nested-section-repeater).handle::before,.notification-field.fields-repeater tr td:not(.nested-section-repeater).sub-handle::before,.notification-field.fields-repeater tr th.handle::before,.notification-field.fields-repeater tr th.sub-handle::before {
        left: 10px;
        top: -1px
    }

    .notification-field.fields-repeater tr td:not(.nested-section-repeater).handle::after,.notification-field.fields-repeater tr td:not(.nested-section-repeater).sub-handle::after,.notification-field.fields-repeater tr th.handle::after,.notification-field.fields-repeater tr th.sub-handle::after {
        right: 10px;
        top: 0
    }
}

.notification-field.fields-repeater tr td:not(.nested-section-repeater).handle .handle-index,.notification-field.fields-repeater tr td:not(.nested-section-repeater).sub-handle .handle-index,.notification-field.fields-repeater tr th.handle .handle-index,.notification-field.fields-repeater tr th.sub-handle .handle-index {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center
}

.notification-field.fields-repeater tr td:not(.nested-section-repeater).no-sortable::after,.notification-field.fields-repeater tr th.no-sortable::after {
    opacity: 0
}

.notification-field.fields-repeater tr th small {
    display: block;
    font-weight: 400
}

.notification-field.fields-repeater tr td.subfield .row-header {
    display: none
}

@media (max-width: 782px) {
    .notification-field.fields-repeater tr td.subfield .row-header {
        display:block;
        margin-bottom: 5px
    }
}

@media (max-width: 782px) {
    .notification-field.fields-repeater tr td.trash {
        position:relative
    }
}

.notification-field.fields-repeater tr td.trash::after {
    display: none;
    content: "\f182";
    font: 400 20px/1 dashicons, sans-serif;
    line-height: 30px
}

@media (max-width: 782px) {
    .notification-field.fields-repeater tr td.trash::after {
        position:absolute;
        display: block;
        right: 10px;
        top: 0
    }
}