
body.gwapi-notification-ui {}
body.gwapi-notification-ui .autocomplete {
    position: relative;
}
body.gwapi-notification-ui .autocomplete .suggestions{
}

.suggestions {
    position: absolute;
    top: 52px;
    width: 100%;
    max-width: 350px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    overflow: auto;
    max-height: 200px;
    z-index: 10;
}
.suggestions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.suggestions .item {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    margin: 0;
    border-top: 1px solid #dcdcdc;
}

.suggestions .item:first-child {
    border-top: none;
}

.suggestions .item:hover {
    cursor: pointer;
    background-color: lightblue;
}
.suggestions .item.focus {
    background-color: lightblue;
}
